body, html {
  padding: 0;
  margin: 0;
}

body {
  font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
  line-height: 1.5;
  align-items: center;
  flex-direction: column;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main {
  margin-top: 3.75em;
}

img.image {
  width: 100%;
}

.header {
  top: 0;
  border-bottom: 1px solid #707070;
  /* height: 3.75em; */
  font-size: 1em;
  position: fixed;
  background: #ffffff;
  width: 100%;
  z-index: 10;
}

.header .navigation {
  padding: 0.5em 1em 0.5em 1em;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  /* min-height: 3.75em; */
  max-width: 63em;
  margin: 0 auto;
}

.header .navigation h1 {
  margin: 0;
  flex: 100%;
}

.header .navigation nav {
  flex: 100%;
}

.header .navigation nav a {
  padding: 0.5em;
  font-size: 1.125em;
  color: #707070;
  text-decoration: none;
  position: relative;
}

.header .navigation nav a:after {
  position: absolute;
  content: '';
  height: 2px;
}

.header .navigation nav a:hover:after {
  /* text-decoration: underline;
  text-decoration-color: #239BCF; */
  width: 75%;
  background: #239BCF;

  /* adjust this to move up and down. you may have to adjust the line height of the paragraph if you move it down a lot. */
  bottom: 0.25em;

  /* center - (optional) use with adjusting width   */
  margin: 0 auto;
  left: 0;
  right: 0;

  /* optional animation */
  -o-transition:0.5s;
  -ms-transition:0.5s;
  -moz-transition:0.5s;
  -webkit-transition:0.5s;
  transition:0.5s;
}

/* TODO: fix .header .navigation additional space. */

.footer {
  border-top: 0.1em solid #707070;
  min-height: 3.75em;
  font-size: 1em;
  background: #ffffff;
  width: 100%;
  color: #58595B;
  display: flex;
  flex-wrap: wrap;
}

.footer .copyright {
  padding: 0.5em 1em 0.5em 1em;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  max-width: 63em;
  margin: 0 auto;
  flex: 100%;
}

.content  {
  flex-wrap: wrap;
  display: flex;
  flex: 100%;
  align-items: center;
  justify-content: center;
}

.content .entry {
  /* border-bottom: 1px solid gray; */
  padding: 0em 1em 0em 1em;
  flex-wrap: wrap;
  flex: 100%;
  max-width: 63em;
  margin: 0 auto;
}

.entry {
  flex: 100%;
}

.row {
  flex: 100%;
  display: flex;
  text-align: left;
  flex-direction: column;
}

.row > * {
  flex: 50%;
  padding: 0.5em;
  /* width: 100%; */
}

.left {
  text-align: center;
  flex: 100%;
}

.right {
  text-align: center;
  flex: 100%;
}

.button {
	border: none;
  font-size: 1.5em;
  background: #77CC53;
	color: #ffffff;
	cursor: pointer;
	padding: 0.4em 2em;
  border-radius: 1em;
	outline: none;
	position: relative;
	-webkit-transition: background-color 0.3s;
	-moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
  text-decoration: none;
}

.button:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: background-color 0.3s;
	-moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.button:hover {
	background: #ffffff;
  color: #58595B;
  border: 0.1em solid #77CC53;
  text-decoration: none;
  font-weight: 600;
}

/* Home */

.home {
  flex: 100%;
  position: relative;
  z-index: 1;
  color: #707070;
}

.home .entry {
  text-align: center;
}

.home::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(assets/home-bg.jpg) center center;
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-size: cover;
  opacity: 0.4;
  width: 100%;
  height: 100%;
}

.home h1 {
  font-size: 2.25em;
  font-weight: 400;
  color: #58595B;
}

.home img.image {
  width: 75%;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.home img.image:hover {
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.home .button {
  position: relative;
  bottom: -0.7em;
}

/* Functions */

.functions {
  flex: 100%;
  padding-top: 2em; /* TODO: This may go to Home */
  color: #58595B;
}

.functions .entry {
  flex: 100%;
  text-align: center;
}

.functions .row:last-child {
  padding-bottom: 2em;
}

.functions h1 {
  font-size: 2.25em;
  font-weight: 400;
}

.functions p {
  width: 100%;
  font-size: 1.5em;
}

.functions .row div {
  width: 100%;
  align-items: flex-start;
}

.functions .row {
  display: flex;
  align-items: center;
}

.functions span {
  font-weight: 700;
}

.functions .row:hover p:hover span {
  color: #C8263D;
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
}

.functions img.image {
  border: 0.1em dashed #ffffff;
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
}

.functions .row:hover img.image {
  border: 0.1em dashed #C8263D;
}

/* Comparison */

.comparison {
  flex: 100%;
  color: #ffffff;
  position: relative;
  z-index: 1;
}

.comparison .entry {
  flex: 100%;
  text-align: center;
}

.comparison::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    rgba(112, 112, 112, 0.4),
    rgba(112, 112, 112, 0.4)
  ),url(assets/comparison-bg.jpg) center center;
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-size: cover;
  /* opacity: 0.6; */
  width: 100%;
  height: 100%;
}

/* About */

.about {
  flex: 100%;
  color: #58595B
}

.about .entry {
  flex: 100%;
  text-align: left;
}

.about h1 {
  font-size: 2.25em;
  font-weight: 300;
}

/* Responsive Part */

@media only screen and (min-width: 480px) {
  .header .navigation h1 {
    flex: 50%;
  }

  .header .navigation nav {
    text-align: end;
    flex: 50%;
  }

  .span-half {
    flex: 50%;
  }

  .footer .copyright {
    flex: 50%;
  }

  .row {
    flex: 100%;
    display: flex;
    text-align: left;
    flex-direction: row;
  }

  .left{
    text-align: left;
    flex: 50%;
  }

  .right {
    text-align: right;
    flex: 50%;
  }

  .functions p {
    width: 50%;
    font-size: 1.5em;
  }

  .functions .row div {
    width: 50%;
  }
}

@media only screen and (min-width: 768px) {

}
