body, html {
  padding: 0;
  margin: 0;
}

body {
  font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
  line-height: 1.5;
  align-items: center;
}

main {
  margin: 1em;
  margin: 0 auto;
}

.header {
  padding-bottom: 1em;
  border-bottom: 1px solid #707070;
  height: 3.75em;
  font-size: 1em;
}

.header .navigation {
  align-items: center;
  flex-wrap: wrap;
  display: flex;

  max-width: 63em;
  padding: 1em 1em 0 1em;
  margin: 0 auto;
}

.header .navigation h1 {
  margin: 0;
  flex: 100%;
}

.header .navigation nav {
  flex: 100%;
}

.header .navigation nav a {
  padding: 0.5em;
  font-size: 1.125em;
  color: #707070;
}

.content  {
  flex-wrap: wrap;
  display: flex;
  flex: 100%;
  align-items: center;
  justify-content: center;
}

.content .entry {
  border-bottom: 1px solid gray;
  flex-wrap: wrap;
  flex: 100%;
  max-width: 63em;
}

.home {
  flex: 100%;
  background-image: url(assets/home-bg.jpg);
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-size: cover;
}

.home .entry {
  flex: 100%;
}

.entry {
  flex: 100%;
}

/* Home */

.home h1 {
  font-size: 2.25em;
  font-weight: 400;
  color: #58595B;
}

@media only screen and (min-width: 480px) {
  .header .navigation h1 {
    flex: 50%;
  }

  .header .navigation nav {
    text-align: end;
    flex: 50%;
  }

  .span-half {
    flex: 50%;
  }
}

@media only screen and (min-width: 768px) {

}
